<form action="/users/register" method="POST">
  <input type="text" name="name" placeholder="ENter Name">
  <input type="email" name="email" placeholder="Enter Email">
  <input type="text" name="username" placeholder="Add Username">
  <input type="password" name="password" placeholder="Add Password">
  <input type="submit" value="Register here">
</form>